* {
    margin: 0;
    padding: 0;
}

.container1{
    margin-top: 10%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 250px;
    display: flex;


}

/* .footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */


.footer1{
    width: 270px;
}

.footerr1{
    margin-left: 70px;
}



.col2{
    padding-top: 10px;
}
.col3{
    padding-top: 10px;

}

.cl{
    margin-right: 10%;
}

.footer1 ul li {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between list items */
  }


  .col11 ul{
    margin-top: 10px;
    margin-left: 10px;
  }

.col11 ul li p{
    font-size: 15px;
}

.foot1 ul {
   
    list-style: none;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 0 0 5px;
    font-family: 'poppins' sans-serif;
    font-size: 14px;
}

.foot1 ul li {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    width:100%;
}

.policy-icon img {
    width: 30px;
    height: auto; 
    margin-right: 10px; 
}

.flink ul li{
    margin-bottom: 10px;
    font-family: 'poppins',sans-serif;

}


ul li a:hover {
    color: rgb(252, 53, 53); 
}

.fp{
    padding-top: 15px;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin: 0 0 10px;
    line-height: 18px;
    font-family: 'poppins',sans-serif;


}


.col4 ul li{
    padding: 0;
    margin: 0;
}

.col4 ul li img{
    width: 104px; 
       height: auto; 
       /* margin-right: 10px; */
}

.col5{
    margin-right: 0;
}


input[type="text"] {
    width: 80%;
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-sizing: border-box;  }
  
  
  input[type="text"]:hover {
    border-color: #888; 
  }
  
  /* Focus effect */
  input[type="text"]:focus {
    outline: none; /* Remove default focus outline */
    border-color: rgb(244, 28, 28); /* Change border color when focused */
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.3); /* Add a subtle box shadow when focused */
  }
  

  .last {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .lcon {
    width: 33.33%;
    height: 70px;
    background: #FDF9F9;
    margin: 0;
  }
  
  .last .lcon ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* Center icons horizontally */
  }
  
  .last .lcon ul li {
    display: inline-block;
    padding-top: 10px;
  }
  
  .last .lcon ul li img {
    width: 50px;
    height: auto;
    padding-right: 5px;
    padding-left: 5px;
    /* margin: 10px; Adjust spacing around icons */
  }
  
  .lp {
    background-color: #FDF9F9;
    width: 33.33%;
    padding-top: 20px;
    text-align: center; /* Center align text */
    display: flex;
    align-items: center; 
    font-size: 13px;
    font-family: 'poppins',sans-serif;
    
}
  

  .last .lncon ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
   margin-left: 20%;
   
    justify-content: center;
    /* Center icons horizontally */
  }

  .last .lncon ul li img {
    width: 35px;
    height: auto;
    
    padding-right: 5px;
    padding-top: 10px;
    
  }

/* Existing CSS styles */


