* {
    margin: 0;
    padding: 0;
}

.container1{
    margin-top: 10%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 600px;
    display: flex;

}

/* .footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */


.footer1{
    margin-right: 8%;
   
}

.col2{
    padding-top: 10px;
}
.col3{
    padding-top: 10px;

}






.foot1 ul {
    
    list-style: none;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 0 0 5px;
    font-family: 'poppins' sans-serif;
    font-size: 14px;
}

.foot1 ul li {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.policy-icon img {
    width: 30px; /* Adjust this value to change the size of the images */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some spacing between the image and the text */
}

.flink ul li{
    margin-bottom: 10px;
    font-family: 'poppins',sans-serif;

}


ul li a:hover {
    color: rgb(252, 53, 53); 
}

.fp{
    padding-top: 15px;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin: 0 0 10px;
    line-height: 18px;
    font-family: 'poppins',sans-serif;


}


.col4 ul li{
    padding: 0;
    margin: 0;
}

.col4 ul li img{
    width: 104px; 
       height: auto; 
       /* margin-right: 10px; */
}

.col5{
    margin-right: 0;
}


input[type="text"] {
    width: 80%;
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-sizing: border-box;  }
  
  
  input[type="text"]:hover {
    border-color: #888; 
  }
  
  /* Focus effect */
  input[type="text"]:focus {
    outline: none; /* Remove default focus outline */
    border-color: dodgerblue; /* Change border color when focused */
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.3); /* Add a subtle box shadow when focused */
  }
  